<h1>餐廳後台</h1>
<div class="d-flex my-3">
  <a href="/admin/restaurants">Restaurant</a>
  <div class="mx-2">|</div>
  <a href="/admin/users">Users</a>
</div>
<a href='/admin/restaurants/create'>
  <button type="button" class="btn btn-primary">Create Restaurant</button>
</a>

<br />
<br />

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each restaurants}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>     
        <a class="btn btn-primary" href="/admin/restaurants/{{this.id}}">
          Show
        </a>
        <a class="btn btn-primary" href="/admin/restaurants/{{this.id}}/edit">
          Edit
        </a>
        <form action="/admin/restaurants/{{this.id}}?_method=DELETE" method="POST" style="display: inline;" onsubmit="return confirm('確定要刪除嗎？')">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>