<h1>餐廳後台</h1>
<div class="d-flex">
  <a href="/admin/restaurants">Restaurant</a>
  <div class="mx-2">|</div>
  <a href="/admin/users">Users</a>
</div>
<br />

<br />
<br />

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.email}}</td>
      <td>{{#if this.isAdmin}} admin {{else}} user {{/if}}</td>
      <td>
        {{#equal this.email "root@example.com"}} 
          Root Admin 
        {{else}}
        <form action="/admin/users/{{this.id}}?_method=PUT" method="POST">
          {{#if this.isAdmin}}
            <button type="submit" class="btn btn-primary">set as user</button>
          {{else}}
            <button type="submit" class="btn btn-primary">set as admin</button>
          {{/if}}
        </form>
        {{/equal}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>